// .card-third-page-green {
//     width: 330px;
//     height: 406px;
//     margin-top: 30px;
//     background-color: #00730C;
//     border: 1px solid #00730C;
//     border-radius: 10px;
//     // text-align: center;
//     position: relative;
// }
// .card-number-green {
//     position: absolute;
//     @include font-nunito (800, 78px, 106.39px);
//     color: white;
//     right: 30px;
//     top: 50px;
// }
.main-third-content {
    display: flex;
    margin-left: 15px;
    margin-left: 15px;
    flex-direction: column;
}
.card-third-page-text {
    position: relative;
    top: 165px
}
// .card-third-page-heading-white {
//     @include font-nunito (700, 24px, 32.74px);
//     color: white;
//     margin-bottom: 20px;
//     margin-left: 30px;
// }
// .card-third-page-paragraph-white {
//     @include font-nunito (400, 16px, 28px);
//     color: white;
//     margin-left: 30px;
//     // margin-right: 44px;
// }
.card-third-page {
    width: 330px;
    height: 406px;
    margin-top: 30px;
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    border: 1px solid white;
    // border-radius: 10px;
    // text-align: center;
    position: relative;
    cursor: pointer;
}
.card-number {
    position: absolute;
    @include font-nunito (800, 78px, 106.39px);
    color: #E3E3E3;
    right: 30px;
    top: 50px;
}
.card-third-page-heading {
    @include font-nunito (700, 24px, 32.74px);
    margin-bottom: 20px;
    margin-left: 30px;
}
.card-third-page-paragraph {
    @include font-nunito (400, 16px, 28px);
    margin-left: 30px;
    // margin-right: 44px;
}
.card-third-page:hover {
    background: #00730C;
    color: white;
}
.card-icon-bg-plant-2 {
    @include icon ("images/icon-bg-plant-2.svg", 161.8px, 95.1px, 190.85px, 112.98px);
    opacity: 10%;
}
.card-third-page:hover .card-icon-bg-plant-2 {
    @include icon ("images/icon-bg-plant-2-white.svg", 161.8px, 95.1px, 190.85px, 112.98px);
    opacity: 10%;
}
.card-icon-consultation {
    @include icon ("images/icon-consultation.svg", 70px, 70px, 29px, 55px);
}
.card-third-page:hover .card-icon-consultation {
    @include icon ("images/icon-consultation-white.svg", 70px, 70px, 29px, 55px);
}
.card-icon-design-and-work {
    @include icon ("images/icon-design-and-work.svg", 70px, 70px, 29px, 55px);
}
.card-third-page:hover .card-icon-design-and-work {
    @include icon ("images/icon-design-and-work-white.svg", 70px, 70px, 29px, 55px);
}
.card-icon-maintenance {
    @include icon ("images/icon-maintenance.svg", 70px, 70px, 29px, 55px);
}
.card-third-page:hover .card-icon-maintenance {
    @include icon ("images/icon-maintenance-white.svg", 70px, 70px, 29px, 55px);
}
.card-icon-complete {
    @include icon ("images/icon-complete.svg", 70px, 70px, 29px, 55px);
}
.card-third-page:hover .card-icon-complete {
    @include icon ("images/icon-complete-white.svg", 70px, 70px, 29px, 55px);
}
.main-third-page-img-paragraph-and-btn {
    margin-top: 100px;
    position: relative;
}
.main-third-page-paragraph-and-btn {
    position: absolute;
    left: 647px;
    top: 78.5px;
}
.main-third-page-paragraph-on-the-img {
    @include font-nunito (700, 33px, 45.01px);
    width: 448px;
    height: 90px;
    color: white;
}
.main-third-page-btn {
    position: absolute;
    right: -255px;
    top: 15px;
}
.mob-main-third-page-img-paragraph-and-btn {
    display: none;
}

.main-our-trained-staff-and-btn {
    display: flex;
}
.main-our-trained-staff-btn {
    margin-top: 153px;
}
.main-card-our-trained-staff {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.main-card-staff {
    position: relative;
}
.card-img-staff-1 {
    position: relative;
    display: block;
    width: 330px;
    height: 408px;
    background: url("images/img-staff-1.png");
}
.card-img-staff-2 {
    position: relative;
    display: block;
    width: 330px;
    height: 408px;
    background: url("images/img-staff-2.png");
}
.card-img-staff-3 {
    position: relative;
    display: block;
    width: 330px;
    height: 408px;
    background: url("images/img-staff-3.png");
}
.card-img-staff-4 {
    position: relative;
    display: block;
    width: 330px;
    height: 408px;
    background: url("images/img-staff-4.png");
}
.card-staff-content {
    position: absolute;
    width: 330px;
    height: 90px;
    border-radius: 10px;
    background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
    bottom: 0px;
    text-align: center;
    cursor: pointer;
}
.card-staff-content:hover{
    display: block;
    width: 330px;
    height: 408px;
    border-radius: 10px;
    background: linear-gradient(6.68deg, #00730C 4.95%, rgba(251, 246, 238, 0) 264.79%);
    cursor: default;
}
.card-hover-staff-networks {
    display: none;
    position: absolute;
}
.card-staff-content:hover .card-hover-staff-networks {
    display: block;
}
.icon-google {
    @include icon ("images/icon-google.svg", 30px, 30px, 40px, 231px);
}
.icon-facebook {
    @include icon ("images/icon-facebook.svg", 30px, 30px, 95px, 231px);
}
.icon-twitter {
    @include icon ("images/icon-twitter.svg", 30px, 30px, 150px, 231px);
}
.icon-pinterest {
    @include icon ("images/icon-pinterest.svg", 30px, 30px, 205px, 231px);
}
.icon-linkedin {
    @include icon ("images/icon-linkedin.svg", 30px, 30px, 260px, 231px);
}
.card-staff-name {
    margin-top: 13px;
    @include font-nunito (700, 24px, 32.74px);
    color: white;
}
.card-staff-content:hover .card-staff-name{
    margin-top: 147px;
}
.card-staff-post {
    @include font-nunito (400, 18px, 30px);
    color: white;
}

.mob-main-card-our-trained-staff {
    display: none;
}

.main-third-page-what-clients-saying {
    height: 585px;
    background: #E6F6EA;
    box-shadow: inset 77.4px -77.4px 77.4px rgba(175, 187, 178, 0.099), inset -77.4px 77.4px 77.4px rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(36.378px);
}
.main-small-left-heading-and-paragraph {
    display: flex; 
    // align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 20px;
}
.main-small-left-heading {
    @include font-nunito (800, 45px, 61.38px);
    // text-align: center;
    margin-bottom: 30px;
}
// .main-small-heading-green {
//     color:#00730C;
// }
.main-small-left-paragraph {
    @include col- (82%, 0 0 82%);
    color: rgba(103, 103, 103, 1);
    @include font-nunito (400, 18px, 30px);
    // text-align: center;
}
.main-small-left-heading-and-paragraph-width {
    @include col- (85%, 0 0 85%);
    // max-width: 85%;
    // flex: 0 0 85%;
}

// .slider-comments {
//     // margin-right: 30px;
// }
.comment-form {
    // display: flex;
    width: 690px;
    height: 341px;
    margin: 0px 15px 0px 15px;
    background-color: #FFFFFF;
}
.comment-content {
    display: flex;
}
.comment-img {
    position: relative;
    @include col- (36%, 0 0 36%);
}
.comment-img-bg {
    position: absolute;
    top: 127px;
    left: 25px;
}
.comment-img-client {
    position: absolute;
    top: 33px;
    left: 13px;
}
.comment-img-and-text {
    display: flex;
}
.comment-text {
    @include col- (57.5%, 0 0 57.5%);
    position: relative;
}
.bg-icon-quotes {
    @include icon ("images/icon-quotes.svg", 54.39px, 69.44px, -5px, 45.81px);
    opacity: 10%;
}
.comment-paragraph {
    margin-top: 62px;
    color: rgba(103, 103, 103, 1);
    @include font-nunito (400, 18px, 30px);
}
.comment-name-position-stars {
    margin-top: 27px;
    position: relative;
}
.comment-name {
    color: rgba(33, 37, 41, 1);
    @include font-nunito (700, 24px, 32.74px);
}
.comment-position {
    color: rgba(103, 103, 103, 1);
    @include font-poppins (400, 14px, 25px);
}
.icon-stars {
    @include icon ("images/icon-stars.svg", 25px, 124px, 291px, 0px);
}

.slick-prev, .slick-next {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #00730C;
    border: 1px solid #00730C;
    border-radius: 5px;
    // padding: 10px 13px;
    background-position: center;
}
.slick-prev:hover, .slick-next:hover {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #00730C;
    border-radius: 5px;
    // padding: 10px 13px;
    background-position: center;
}
.slick-prev:focus {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #00730C;
    border-radius: 5px;
    // padding: 10px 13px;
    background-position: center;
    @include icon ("images/icon-slider-arrow-prev-green.svg", 50px, 50px, 1265px, -76px);
}
.slick-next:focus {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #00730C;
    border-radius: 5px;
    // padding: 10px 13px;
    background-position: center;
    @include icon-arrow ("images/icon-slider-arrow-next-green.svg", 50px, 50px, 15px, -76px);
}
.slick-prev {
    @include icon ("images/icon-slider-arrow-prev-white.svg", 50px, 50px, 1265px, -76px);
}
.slick-next {
    @include icon-arrow ("images/icon-slider-arrow-next-white.svg", 50px, 50px, 15px, -76px);
}
.slick-prev:hover {
    @include icon ("images/icon-slider-arrow-prev-green.svg", 50px, 50px, 1265px, -76px);
}
.slick-next:hover {
    @include icon-arrow ("images/icon-slider-arrow-next-green.svg", 50px, 50px, 15px, -76px);
}

.slick-next:after {
    width: 50px;
    height: 50px;
    background-color: white;
    border: 1px solid #00730C;
    border-radius: 5px;
    // padding: 10px 13px;
    background-position: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.mob-slider-comments {
    display: none;
}
@media (max-width:1200px) {
    .main-third-page-img-paragraph-and-btn {
        display: none;
    }
    .mob-card-third-page {
        width: 345px;
        height: 208px;
        margin-top: 30px;
        background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
        box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
        border: 1px solid white;
        border-radius: 10px;
        // text-align: center;
        position: relative;
        cursor: pointer;
    }
    .mob-card-number {
        position: absolute;
        @include font-nunito (800, 45px, 61.38px);
        color: #E3E3E3;
        right: 30px;
        top: 15px;
    }
    .mob-card-third-page-text {
        margin-top: 90px;
        margin-left: 20px;
    }
    .mob-card-third-page:hover {
        background: #00730C;
        color: white;
    }
    .mob-card-icon-bg-plant-2 {
        @include icon ("mob-images/mob-icon-bg-plant-2.svg", 111.89px, 65.77px, 237.83px, 47.97px);
        // opacity: 50%;
    }
    .mob-card-third-page:hover .mob-card-icon-bg-plant-2 {
        @include icon ("mob-images/mob-icon-bg-plant-2-white.svg", 111.89px, 65.77px, 237.83px, 47.97px);
        // opacity: 50%;
    }
    .mob-card-icon-consultation {
        @include icon ("mob-images/mob-icon-consultation.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-third-page:hover .mob-card-icon-consultation {
        @include icon ("mob-images/mob-icon-consultation-white.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-icon-design-and-work {
        @include icon ("mob-images/mob-icon-design-and-work.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-third-page:hover .mob-card-icon-design-and-work {
        @include icon ("mob-images/mob-icon-design-and-work-white.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-icon-maintenance {
        @include icon ("mob-images/mob-icon-maintenance.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-third-page:hover .mob-card-icon-maintenance {
        @include icon ("mob-images/mob-icon-maintenance-white.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-icon-complete {
        @include icon ("mob-images/mob-icon-complete.svg", 50px, 50px, 20px, 20px);
    }
    .mob-card-third-page:hover .mob-card-icon-complete {
        @include icon ("mob-images/mob-icon-complete-white.svg", 50px, 50px, 20px, 20px);
    }
    .mob-main-third-page-img-paragraph-and-btn {
        display: flex;
        justify-content: center;
        margin-top: 55px;
        
    }
    .mob-main-third-page-img {
        position: relative;
    }
    .main-third-page-paragraph-and-btn {
        position: absolute;
        left: 41px;
        top: 50px;
    }
    .main-third-page-paragraph-on-the-img {
        @include font-nunito (700, 20px, 27.28px);
        width: 272px;
        height: 54px;
        color: white;
        text-align: center;
    }
    .main-third-page-btn {
        position: absolute;
        right: 67.5px;
        top: 84px;
    }
    // .mob-btn-call-us {
    //     background-color: #00730C;
    //     width: 137px;
    //     height: 40px;
    //     padding: 10px 0px 10px 0px;
    //     margin-top: 10px;
    //     margin-bottom: 50px;
    //     @include font-nunito (700, 14px, 19.1px)    
    // }
    // .mob-btn-call-us:hover {
    //     @include btn-hover ();
    //     border: 1px solid #00730C;
    // }
    .mob-btn-call-us {
        background-color: #00730C;
        width: 137px;
        height: 40px;
        border: 0;
        // border-radius: 5px;
        padding: 10px 0px 10px 20px;
        position: relative;
        // margin-left: 35px;
        // margin-top: 5px;
    }
    .mob-btn-call-us:hover {
        @include btn-hover ();
    }
    .mob-icon-phone {
        // display: block;
        @include icon ("mob-images/mob-icon-phone.svg", 20px, 20px, 25px, 10px);
    }
    .mob-btn-call-us:hover .mob-icon-phone {
        // display: block;
        @include icon ("mob-images/mob-icon-phone-green.svg", 20px, 20px, 25px, 10px);
    }
    .main-third-content {
        align-items: center;
    }
    // .main-small-center-heading-and-paragraph {
    //     max-width: 26%;
    // }
    .main-our-trained-staff-and-btn {
        align-items: center;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
    }
    .main-small-left-heading-and-paragraph {
        align-items: center;
        margin-top: 50px;
    }
    .main-small-left-heading-and-paragraph-width {
        max-width: 100%;
        flex: 100%;
    }
   .main-small-left-heading {
        margin-bottom: 15px;
        @include font-nunito (700, 28px, 38.19px)
   }
   .main-small-left-paragraph {
        text-align: center;
        max-width: 100%;
        @include font-nunito (400, 14px, 22px)
   }
   .main-our-trained-staff-btn {
        display: none;
   }
   .main-card-our-trained-staff {
        display: none;
   }
   .mob-main-card-our-trained-staff {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        margin-bottom: 86px;
   }
   .card-img-staff-1 {
        width: 345px;
        height: 343px;
        border-radius: 5px;
        background: url("mob-images/mob-img-staff.png");
   }
   .card-staff-content {
        width: 345px;
        height: 62px;
        border-radius: 5px;
   }
   .card-staff-name {
        margin-top: 7px;
        @include font-nunito (700, 18px, 24.55px)
   }
   .card-staff-post {
        @include font-nunito (400, 14px, 22px)
   }
   .card-staff-content:hover {
        width: 345px;
        height: 343px;
        border-radius: 5px;
   }
   .icon-google {
        @include icon ("images/icon-google.svg", 30px, 30px, 47.5px, 231px);
   }
   .icon-facebook {
        @include icon ("images/icon-facebook.svg", 30px, 30px, 102.5px, 231px);
   }
   .icon-twitter {
        @include icon ("images/icon-twitter.svg", 30px, 30px, 157.5px, 231px);
   }
   .icon-pinterest {
        @include icon ("images/icon-pinterest.svg", 30px, 30px, 212.5px, 231px);
   }
   .icon-linkedin {
        @include icon ("images/icon-linkedin.svg", 30px, 30px, 267.5px, 231px);
   }
   .slider-comments {
        display: none;
   }
   .mob-slider-comments {
    display: block;
   }
   .row-content {
        justify-content: center;
   }
   .main-small-left-heading-and-paragraph-width {
        @include col- (100%, 0 0 100%)
   }
   .main-small-left-heading-and-paragraph {
        margin-left: 15px;
        margin-right: 15px;
   }
   .comment-form {
        width: 345px;
        height: 431px;
   }

   .bg-icon-quotes {
        @include icon ("mob-images/mob-icon-quotes.svg", 23.15px, 29.76px, 21px, 236.32px);
        opacity: 10%;
   }
   .comment-img-client {
        top: 21px;
        left: 20px;
   }
   .comment-img-bg {
        top: 75.78px;
        left: 20px;
   }
   .comment-img {
        max-width: 0;
   }
   .comment-text {
        @include col- (100%, 0 0 100%)
   }
   .comment-paragraph {
        margin-top: 246.76px;
        margin-left: 15px;
        margin-right: 15px;
        @include font-nunito (400, 14px, 22px);
   }
   .comment-name-position-stars {
        margin-top: 15px;
        margin-left: 20px;
   }
   .comment-name {
        @include font-nunito (700, 16px, 21.82px);
   }
   .comment-position {
        @include font-nunito (400, 12px, 16.37px);
   }
   .icon-stars {
        @include icon ("images/icon-stars.svg", 25px, 124px, 185.94px, 5px);
   }
}