@mixin font-poppins ($font-weight,$font-size,$line-height) {
    font-family: "Poppins", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin font-nunito ($font-weight,$font-size,$line-height) {
    font-family: 'Nunito', sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: $line-height;
}
@mixin col- ($max-width, $flex) {
    max-width: $max-width;
    flex: $flex;
}
@mixin icon ($icon, $height, $width, $left, $top) {
    background-image: url($icon);
    position: absolute;
    background-repeat: no-repeat;
    height: $height;
    width: $width;
    left:  $left;
    top: $top;
}
@mixin icon-arrow ($icon, $height, $width, $right, $top) {
    background-image: url($icon);
    position: absolute;
    background-repeat: no-repeat;
    height: $height;
    width: $width;
    right:  $right;
    top: $top;
}
@mixin btn-hover () {
    background-color: white;
    color: #00730C;
    border: 1px solid #00730C;
}

$main-grey-color: rgba(103, 103, 103, 1);
