.top-navbar {
  background-color: #0c4b35;
  color: white;
  height: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.top-navbar .top-navbar-info {
  display: flex;
  flex-direction: row;
}
.top-navbar .top-navbar-contact {
  margin-left: 35px;
  margin-right: 35px;
  position: relative;
}
.top-navbar .icon-email {
  background-image: url("images/icon-email.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  left: -35px;
  top: 0px;
}
.top-navbar .icon-phone-call {
  background-image: url("images/icon-phone-call.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  left: -35px;
  top: 0px;
}
.top-navbar .icon-location {
  background-image: url("images/icon-location.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  left: -35px;
  top: 0px;
}
.top-navbar .top-navbar-language {
  position: relative;
  cursor: pointer;
}
.top-navbar .top-navbar-language:hover {
  color: #00730C;
}
.top-navbar .icon-down-arrow-white {
  background-image: url("images/icon-down-arrow-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  right: 7px;
  top: 9px;
}
.top-navbar .top-navbar-language:hover .icon-down-arrow-white {
  background-image: url("images/icon-down-arrow-green.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  right: 7px;
  top: 9px;
}

.bottom-navdar {
  background-color: white;
  height: 85px;
  display: flex;
  align-items: center;
}
.bottom-navdar .menu {
  display: flex;
}
.bottom-navdar .menu li {
  width: 16.5%;
  list-style-type: none;
  position: relative;
}
.bottom-navdar .menu a {
  display: block;
  height: 20px;
  text-decoration: none;
  text-align: center;
  color: black;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.bottom-navdar .menu a:hover {
  color: #00730C;
}
.bottom-navdar .icon-down-arrow-company {
  background-image: url("images/icon-down-arrow-black.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  right: 3px;
  top: 7px;
}
.bottom-navdar .menu-dropdown:hover .icon-down-arrow-company {
  background-image: url(images/icon-down-arrow-green.svg);
}
.bottom-navdar .icon-down-arrow-company::after {
  position: absolute;
}
.bottom-navdar .icon-down-arrow-services {
  background-image: url("images/icon-down-arrow-black.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  right: 7px;
  top: 7px;
}
.bottom-navdar .menu-dropdown:hover .icon-down-arrow-services {
  background-image: url(images/icon-down-arrow-green.svg);
}
.bottom-navdar .icon-down-arrow-services::after {
  position: absolute;
}
.bottom-navdar .icon-down-arrow-project {
  background-image: url("images/icon-down-arrow-black.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 7px;
  width: 12px;
  right: 12px;
  top: 7px;
}
.bottom-navdar .menu-dropdown:hover .icon-down-arrow-project {
  background-image: url(images/icon-down-arrow-green.svg);
}
.bottom-navdar .icon-down-arrow-project::after {
  position: absolute;
}

.btn-call-us {
  background-color: #00730C;
  width: 170px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px 10px 35px;
  position: relative;
  margin-left: 35px;
  margin-top: 5px;
}

.btn-call-us:hover {
  background-color: white;
  color: #00730C;
  border: 1px solid #00730C;
}

.icon-phone {
  background-image: url("images/icon-phone.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  left: 25px;
  top: 8px;
}

.btn-call-us:hover .icon-phone {
  background-image: url("images/icon-phone-green.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  left: 25px;
  top: 8px;
}

.mob-logo {
  display: none;
}

@media (max-width: 1200px) {
  .header {
    position: relative;
    z-index: 10;
  }
  .top-navbar {
    height: 55px;
    font-size: 12px;
  }
  .top-navbar .top-navbar-contact {
    display: none;
  }
  .top-navbar .icon-down-arrow-white {
    display: none;
  }
  .top-navbar .mob-icon-email {
    display: block;
    cursor: pointer;
    background-image: url("mob-images/mob-icon-email.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 20px;
    top: 18px;
  }
  .top-navbar .mob-icon-phone-call {
    display: block;
    cursor: pointer;
    background-image: url("mob-images/mob-icon-phone-call.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 60px;
    top: 18px;
  }
  .top-navbar .mob-icon-location {
    display: block;
    cursor: pointer;
    background-image: url("mob-images/mob-icon-location.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 100px;
    top: 17px;
  }
  .top-navbar .mob-icon-down-arrow-white {
    display: block;
    background-image: url("mob-images/mob-icon-down-arrow-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 4px;
    width: 7px;
    right: -10px;
    top: 11px;
  }
  .top-navbar .top-navbar-language:hover .mob-icon-down-arrow-white {
    display: block;
    background-image: url("mob-images/mob-icon-down-arrow-green.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 4px;
    width: 7px;
    right: -10px;
    top: 11px;
  }
  .bottom-navdar {
    height: 70px;
  }
  .bottom-navdar .logo {
    display: none;
  }
  .bottom-navdar .mob-logo {
    display: block;
    margin: 10px;
  }
  .bottom-navdar .btn-call-us {
    display: none;
  }
  .bottom-navdar .mob-btn-mini-call-us {
    background-color: #00730C;
    width: 40px;
    height: 34px;
    border: 0;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }
  .bottom-navdar .mob-btn-mini-call-us:hover {
    background-color: white;
    border: 1px solid #00730C;
  }
  .bottom-navdar .mob-icon-phone {
    background-image: url("mob-images/mob-icon-phone.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 10px;
    top: 7px;
  }
  .bottom-navdar .mob-btn-mini-call-us:hover .mob-icon-phone {
    background-image: url("mob-images/mob-icon-phone-green.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 10px;
    top: 7px;
  }
  .bottom-navdar .mob-icon-menu {
    background-image: url("mob-images/mob-icon-menu.svg");
    position: absolute;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin: 10px 0;
    cursor: pointer;
  }
}
.main-sub-heading {
  margin-left: 29px;
  position: relative;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.icon-plant {
  background-image: url("images/icon-plant.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 20px;
  width: 24px;
  left: -26px;
  top: -5px;
}

.main-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 79px;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 79.1px;
}

.main-heading-green {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 58px;
  line-height: 79.1px;
  color: #00730C;
}

.main-paragraph {
  color: rgb(103, 103, 103);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.btn-get-a-quate {
  background-color: #00730C;
  width: 175px;
  height: 50px;
  padding: 13px 35px 13px 35px;
  margin-top: 50px;
  margin-bottom: 58px;
}

.btn-get-a-quate:hover {
  background-color: white;
  color: #00730C;
  border: 1px solid #00730C;
  border: 0;
}

.main-see-how-it-works {
  display: inline-block;
  position: relative;
  color: rgb(103, 103, 103);
  margin-left: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.icon-vector-grey {
  background-image: url("images/icon-vector-grey.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 16px;
  width: 20px;
  right: -35px;
  top: 7px;
}

.mob-icon-vector-green {
  display: none;
}

.main-circle-frame-tag {
  display: flex;
  margin-bottom: 100px;
}

.circle-frame {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 35px;
  background: linear-gradient(72.71deg, #00730C -83.5%, #F9F9F9 93.84%);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20.4px;
}

.circle-quantity {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.tag-circle {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  max-width: 50%;
  position: absolute;
  top: 5px;
  right: 0px;
}

.main-bg_img-girl-with-plants {
  margin-top: 43px;
  position: absolute;
  right: -240px;
}

.mob-main-bg_img-girl-with-plants {
  display: none;
}

.mob-plant-bg-tag {
  display: none;
}

@media (max-width: 1200px) {
  .main-bg_img-girl-with-plants {
    display: none;
  }
  .mob-plant-bg-tag {
    display: block;
  }
  .mob-main-bg_img-girl-with-plants {
    display: flex;
    position: relative;
    top: -15px;
    left: -10px;
    justify-content: center;
  }
  .main-sub-heading {
    margin-top: 48.5px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.1px;
  }
  .main-heading {
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 6px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.2px;
  }
  .main-heading-green {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.2px;
    color: #00730C;
  }
  .main-paragraph {
    padding: 6px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .btn-get-a-quate {
    background-color: #00730C;
    width: 303px;
    height: 44px;
    margin-top: 40px;
    margin-bottom: 20.3px;
  }
  .btn-get-a-quate:hover {
    background-color: white;
    color: #00730C;
    border: 1px solid #00730C;
    border: 0;
  }
  .main-button-see-how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-see-how-it-works {
    color: #00730C;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19.1px;
    margin: 0;
  }
  .icon-vector-grey {
    display: none;
  }
  .mob-icon-vector-green {
    display: block;
    background-image: url("mob-images/mob-icon-vector-green.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 16px;
    width: 20px;
    right: -30px;
    top: 4px;
  }
  .main-circle-frame-tag {
    display: none;
  }
  .oval-frame {
    height: 32px;
    position: relative;
    border-radius: 32px;
    background: linear-gradient(180deg, #FFF8F1 0%, #CBE5CE 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .oval-quantity {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 16.4px;
    width: 29px;
    height: 16px;
  }
  .oval-text {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 13.6px;
    width: 76px;
    height: 14px;
    margin: 0;
    position: relative;
    top: 1px;
  }
  .mob-plant-bg-tag {
    display: flex;
    align-items: center;
  }
  .mob-main-bg_img-plant {
    position: relative;
    left: -10px;
    max-width: 20%;
    flex: 0 0 20%;
  }
  .mob-main-frame-tag {
    max-width: 34%;
    flex: 0 0 34%;
    margin-right: 12px;
  }
}
.main-second-heading-and-paragraph {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 20px;
}

.main-second-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 61.38px;
  text-align: center;
  margin-bottom: 30px;
}

.main-second-heading-green {
  color: #00730C;
}

.main-second-paragraph {
  max-width: 82%;
  flex: 0 0 82%;
  color: rgb(103, 103, 103);
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.main-second-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 330px;
  height: 336px;
  margin-top: 30px;
  background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.card-icons {
  display: block;
}

.card-text {
  position: relative;
  top: 179.5px;
}

.card-heading-white {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  color: white;
  margin-bottom: 10px;
}

.card-paragraph-white {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: white;
  margin-left: 44px;
  margin-right: 44px;
}

.card-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  margin-bottom: 10px;
}

.card-paragraph {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 44px;
  margin-right: 44px;
}

.card:hover {
  background: #00730C;
  color: white;
}

.card-icon-bg-plant {
  background-image: url("images/icon-bg-plant.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 145px;
  width: 176px;
  left: 77px;
  top: 15.68px;
}

.card-icon-tree-planting {
  background-image: url("images/icon-tree-planting.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-tree-planting {
  background-image: url("images/icon-tree-planting-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-grass-cutting {
  background-image: url("images/icon-grass-cutting.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-grass-cutting {
  background-image: url("images/icon-grass-cutting-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-garden-desing {
  background-image: url("images/icon-garden-desing.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-garden-desing {
  background-image: url("images/icon-garden-desing-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-plant-growing {
  background-image: url("images/icon-plant-growing.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-plant-growing {
  background-image: url("images/icon-plant-growing-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-flower-scating {
  background-image: url("images/icon-flower-scating.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-flower-scating {
  background-image: url("images/icon-flower-scating-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-branch-cutting {
  background-image: url("images/icon-branch-cutting.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-branch-cutting {
  background-image: url("images/icon-branch-cutting-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-pests-weeds-control {
  background-image: url("images/icon-pests-weeds-control.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-pests-weeds-control {
  background-image: url("images/icon-pests-weeds-control-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card-icon-watering-and-irrigation {
  background-image: url("images/icon-watering-and-irrigation.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.card:hover .card-icon-watering-and-irrigation {
  background-image: url("images/icon-watering-and-irrigation-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 130.5px;
  top: 59.5px;
}

.mob-main-second-cards {
  display: none;
}

.main-second-page-content-with-button {
  margin-top: 145px;
  margin-left: 90px;
}

.main-second-bg-img-and-content {
  display: flex;
}

.main-second-bg-images {
  position: relative;
  max-width: 47%;
  flex: 0 0 47%;
}

.main-second-bg_img-green {
  position: absolute;
  top: 100px;
}

.main-second-bg_img-man-with-plant {
  position: absolute;
  top: 136px;
  right: 24px;
}

.main-second-bg_img-plant {
  position: absolute;
  top: 699px;
  right: -44px;
}

.main-second-page-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 45px;
  line-height: 61.38px;
  margin-bottom: 30px;
}

.main-second-page-paragraph {
  color: rgb(103, 103, 103);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 20px;
}

.main-second-circle-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 65px;
  justify-content: space-around;
}

.circle-card-and-name {
  max-width: 45%;
  flex: 0 0 45%;
  display: flex;
  margin-bottom: 60px;
}

.circle-card {
  width: 67px;
  height: 67px;
  border-radius: 35px;
  background-color: #00730C;
  position: relative;
}

.circle-card-name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  position: relative;
  top: 17px;
  left: 30px;
}

.icon-our-mission {
  background-image: url("images/icon-our-mission.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  left: 8.5px;
  top: 9px;
}

.icon-our-vision {
  background-image: url("images/icon-our-vision.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  left: 8.5px;
  top: 9px;
}

.icon-support-team {
  background-image: url("images/icon-support-team.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  left: 8.5px;
  top: 9px;
}

.icon-clients-trust {
  background-image: url("images/icon-clients-trust.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  left: 8.5px;
  top: 9px;
}

.btn-discover-more {
  background-color: #00730C;
  width: 192px;
  height: 50px;
  padding: 13px 35px 13px 35px;
  margin-top: 25px;
  margin-bottom: 100px;
}

.btn-discover-more:hover {
  background-color: white;
  color: #00730C;
  border: 1px solid #00730C;
  border: 1px solid #00730C;
}

.mob-main-second-bg-img-and-content {
  display: none;
}

.main-second-page-why-chosse-us {
  background-color: #0c4b35;
  color: white;
  height: 659px;
  position: relative;
}

.why-chosse-us-content-with-button {
  max-width: 47%;
  flex: 0 0 47%;
}

.why-chosse-us-heading-paragraph {
  margin-top: 100px;
  margin-bottom: 50px;
}

.why-chosse-us-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 61.38px;
  margin-bottom: 30px;
}

.why-chosse-us-paragraph {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.why-chosse-us-check-circle {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  justify-content: space-around;
}

.check-and-name {
  max-width: 45%;
  flex: 0 0 45%;
  display: flex;
  margin-bottom: 20px;
}

.check-circle {
  width: 30px;
  height: 30px;
  border-radius: 35px;
  background-color: white;
  position: relative;
}

.check-name {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  position: relative;
  left: 30px;
}

.icon-check {
  background-image: url("images/icon-check.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 14.69px;
  width: 20px;
  left: 5px;
  top: 8px;
}

.why-chosse-us-bg-images {
  position: relative;
  max-width: 53%;
  flex: 0 0 53%;
  display: flex;
  justify-content: center;
}

.why-chosse-us-img-girl-with-scissors {
  position: absolute;
  top: 114.5px;
}

.mob-why-chosse-us {
  display: none;
}

@media (max-width: 1200px) {
  .main-second-heading-and-paragraph {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .main-second-heading {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.19px;
    margin-bottom: 15px;
  }
  .main-second-paragraph {
    max-width: 92%;
    flex: 0 0 92%;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .main-second-cards {
    display: none;
  }
  .mob-main-second-cards {
    display: flex;
    justify-content: center;
  }
  .mob-card {
    width: 345px;
    height: 116px;
    margin-top: 30px;
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  .mob-card-text {
    padding-left: 90px;
  }
  .mob-card-heading {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.82px;
    margin-top: 20px;
  }
  .mob-card-paragraph {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-top: 10px;
  }
  .mob-card:hover {
    background: #00730C;
    color: white;
  }
  .mob-card-icon-bg-plant {
    background-image: url("mob-images/mob-icon-bg-plant.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 92px;
    width: 112px;
    left: 0px;
    top: 10px;
  }
  .mob-card-icon-tree-planting {
    background-image: url("mob-images/mob-icon-tree-planting.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-tree-planting {
    background-image: url("mob-images/mob-icon-tree-planting-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-grass-cutting {
    background-image: url("mob-images/mob-icon-grass-cutting.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-grass-cutting {
    background-image: url("mob-images/mob-icon-grass-cutting-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-garden-desing {
    background-image: url("mob-images/mob-icon-garden-desing.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-garden-desing {
    background-image: url("mob-images/mob-icon-garden-desing-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-plant-growing {
    background-image: url("mob-images/mob-icon-plant-growing.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-plant-growing {
    background-image: url("mob-images/mob-icon-plant-growing-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-flower-scaping {
    background-image: url("mob-images/mob-icon-flower-scaping.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-flower-scaping {
    background-image: url("mob-images/mob-icon-flower-scaping-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-branch-cutting {
    background-image: url("mob-images/mob-icon-branch-cutting.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-branch-cutting {
    background-image: url("mob-images/mob-icon-branch-cutting-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-pests-weeds-control {
    background-image: url("mob-images/mob-icon-pests-weeds-control.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-pests-weeds-control {
    background-image: url("mob-images/mob-icon-pests-weeds-control-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card-icon-watering-and-irrigation {
    background-image: url("mob-images/mob-icon-watering-and-irrigation.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .mob-card:hover .mob-card-icon-watering-and-irrigation {
    background-image: url("mob-images/mob-icon-watering-and-irrigation-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 33px;
  }
  .main-second-bg-img-and-content {
    display: none;
  }
  .mob-main-second-bg-img-and-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mob-main-second-bg-images {
    position: relative;
    max-width: 100%;
    flex: 0 0 100%;
  }
  .mob-main-second-bg_img-green {
    position: absolute;
    top: 50px;
    right: -14px;
  }
  .mob-main-second-bg_img-man-with-plant {
    position: absolute;
    top: 62px;
    right: -131px;
  }
  .mob-main-second-bg_img-plant {
    position: absolute;
    top: 350px;
    left: -67px;
  }
  .main-second-page-content-with-button {
    margin-top: 542px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-second-page-heading {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.19px;
    margin-bottom: 15px;
  }
  .main-second-page-paragraph {
    color: rgb(103, 103, 103);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
  }
  .main-second-circle-cards {
    margin-top: 40px;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .mob-circle-card-and-name {
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    border: 1px solid white;
    border-radius: 10px;
    max-width: 35%;
    flex: 0 0 35%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
  }
  .mob-circle-card {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: #00730C;
    position: relative;
  }
  .mob-circle-card-name {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 19.1px;
  }
  .mob-icon-our-mission {
    background-image: url("mob-images/mob-icon-our-mission.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 4px;
  }
  .mob-icon-our-vision {
    background-image: url("mob-images/mob-icon-our-vision.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 4px;
  }
  .mob-icon-support-team {
    background-image: url("mob-images/mob-icon-support-team.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 4px;
  }
  .mob-icon-clients-trust {
    background-image: url("mob-images/mob-icon-clients-trust.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    left: 5px;
    top: 4px;
  }
  .mob-btn-discover-more {
    background-color: #00730C;
    width: 168px;
    height: 40px;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .mob-btn-discover-more:hover {
    background-color: white;
    color: #00730C;
    border: 1px solid #00730C;
    border: 1px solid #00730C;
  }
  .why-chosse-us-bg-images {
    display: none;
  }
  .why-chosse-us-img-girl-with-scissors {
    display: none;
  }
  .why-chosse-us-content-with-button {
    display: none;
  }
  .mob-why-chosse-us {
    display: flex;
    position: relative;
    justify-content: space-evenly;
  }
  .mob-why-chosse-us-img-girl-with-scissors {
    position: absolute;
    margin-top: 50px;
  }
  .why-chosse-us-content-with-button {
    max-width: 90%;
    flex: 0 0 90%;
  }
  .why-chosse-us-heading-paragraph {
    margin-left: 15px;
    margin-right: 15px;
  }
  .why-chosse-us-heading {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 38.19px;
    margin-top: 190px;
    margin-bottom: 15px;
    text-align: center;
  }
  .why-chosse-us-paragraph {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }
  .why-chosse-us-check-circle {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    justify-content: space-around;
  }
  .check-and-name {
    max-width: 45%;
    flex: 0 0 45%;
    display: flex;
    margin-bottom: 20px;
  }
  .check-circle {
    width: 20px;
    height: 20px;
    border-radius: 35px;
    background-color: white;
    position: relative;
  }
  .check-name {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 21.82px;
    position: relative;
    left: 10px;
  }
  .icon-check {
    background-image: url("mob-images/mob-icon-check.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 9.79px;
    width: 13.33px;
    left: 3px;
    top: 5px;
  }
  .mob-why-chosse-us-img-fern-leaf-left {
    position: absolute;
    left: 0px;
    top: 80px;
  }
  .mob-why-chosse-us-img-fern-leaf-right {
    position: absolute;
    right: 0px;
  }
  .mob-why-chosse-us-content-with-button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.card-third-page-text {
  position: relative;
  top: 165px;
}

.card-third-page {
  width: 330px;
  height: 406px;
  margin-top: 30px;
  background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
  box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
  border: 1px solid white;
  position: relative;
  cursor: pointer;
}

.card-number {
  position: absolute;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 78px;
  line-height: 106.39px;
  color: #E3E3E3;
  right: 30px;
  top: 50px;
}

.card-third-page-heading {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32.74px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.card-third-page-paragraph {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-left: 30px;
}

.card-third-page:hover {
  background: #00730C;
  color: white;
}

.card-icon-bg-plant-2 {
  background-image: url("images/icon-bg-plant-2.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 161.8px;
  width: 95.1px;
  left: 190.85px;
  top: 112.98px;
  opacity: 10%;
}

.card-third-page:hover .card-icon-bg-plant-2 {
  background-image: url("images/icon-bg-plant-2-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 161.8px;
  width: 95.1px;
  left: 190.85px;
  top: 112.98px;
  opacity: 10%;
}

.card-icon-consultation {
  background-image: url("images/icon-consultation.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-third-page:hover .card-icon-consultation {
  background-image: url("images/icon-consultation-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-icon-design-and-work {
  background-image: url("images/icon-design-and-work.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-third-page:hover .card-icon-design-and-work {
  background-image: url("images/icon-design-and-work-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-icon-maintenance {
  background-image: url("images/icon-maintenance.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-third-page:hover .card-icon-maintenance {
  background-image: url("images/icon-maintenance-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-icon-complete {
  background-image: url("images/icon-complete.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.card-third-page:hover .card-icon-complete {
  background-image: url("images/icon-complete-white.svg");
  position: absolute;
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  left: 29px;
  top: 55px;
}

.main-third-page-img-paragraph-and-btn {
  margin-top: 100px;
  position: relative;
}

.main-third-page-paragraph-and-btn {
  position: absolute;
  left: 647px;
  top: 78.5px;
}

.main-third-page-paragraph-on-the-img {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 33px;
  line-height: 45.01px;
  width: 448px;
  height: 90px;
  color: white;
}

.main-third-page-btn {
  position: absolute;
  right: -255px;
  top: 15px;
}

.mob-main-third-page-img-paragraph-and-btn {
  display: none;
}

@media (max-width: 1200px) {
  .main-third-page-img-paragraph-and-btn {
    display: none;
  }
  .mob-card-third-page {
    width: 345px;
    height: 208px;
    margin-top: 30px;
    background: linear-gradient(172.29deg, #FFFFFF -10.79%, #FFFFFF 94.04%);
    box-shadow: 2px 11px 30px 0px rgba(51, 51, 51, 0.08);
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }
  .mob-card-number {
    position: absolute;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    font-size: 45px;
    line-height: 61.38px;
    color: #E3E3E3;
    right: 30px;
    top: 15px;
  }
  .mob-card-third-page-text {
    margin-top: 90px;
    margin-left: 20px;
  }
  .mob-card-third-page:hover {
    background: #00730C;
    color: white;
  }
  .mob-card-icon-bg-plant-2 {
    background-image: url("mob-images/mob-icon-bg-plant-2.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 111.89px;
    width: 65.77px;
    left: 237.83px;
    top: 47.97px;
  }
  .mob-card-third-page:hover .mob-card-icon-bg-plant-2 {
    background-image: url("mob-images/mob-icon-bg-plant-2-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 111.89px;
    width: 65.77px;
    left: 237.83px;
    top: 47.97px;
  }
  .mob-card-icon-consultation {
    background-image: url("mob-images/mob-icon-consultation.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-third-page:hover .mob-card-icon-consultation {
    background-image: url("mob-images/mob-icon-consultation-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-icon-design-and-work {
    background-image: url("mob-images/mob-icon-design-and-work.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-third-page:hover .mob-card-icon-design-and-work {
    background-image: url("mob-images/mob-icon-design-and-work-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-icon-maintenance {
    background-image: url("mob-images/mob-icon-maintenance.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-third-page:hover .mob-card-icon-maintenance {
    background-image: url("mob-images/mob-icon-maintenance-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-icon-complete {
    background-image: url("mob-images/mob-icon-complete.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-card-third-page:hover .mob-card-icon-complete {
    background-image: url("mob-images/mob-icon-complete-white.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    left: 20px;
    top: 20px;
  }
  .mob-main-third-page-img-paragraph-and-btn {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
  .mob-main-third-page-img {
    position: relative;
  }
  .main-third-page-paragraph-and-btn {
    position: absolute;
    left: 41px;
    top: 50px;
  }
  .main-third-page-paragraph-on-the-img {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27.28px;
    width: 272px;
    height: 54px;
    color: white;
    text-align: center;
  }
  .main-third-page-btn {
    position: absolute;
    right: 67.5px;
    top: 84px;
  }
  .mob-btn-call-us {
    background-color: #00730C;
    width: 137px;
    height: 40px;
    border: 0;
    padding: 10px 0px 10px 20px;
    position: relative;
  }
  .mob-btn-call-us:hover {
    background-color: white;
    color: #00730C;
    border: 1px solid #00730C;
  }
  .mob-icon-phone {
    background-image: url("mob-images/mob-icon-phone.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 10px;
  }
  .mob-btn-call-us:hover .mob-icon-phone {
    background-image: url("mob-images/mob-icon-phone-green.svg");
    position: absolute;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    left: 25px;
    top: 10px;
  }
}
.conteiner {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
}

.row-content {
  display: flex;
  position: relative;
}

body {
  margin: 0;
  overflow-x: hidden;
}

[class*=col-] {
  padding-left: 10px;
  padding-right: 10px;
}

.col-top-navbar-contact-info {
  max-width: 92%;
  flex: 0 0 92%;
}

.col-top-navbar-language {
  max-width: 5%;
  flex: 0 0 5%;
}

.col-bottom-navdar-menu {
  max-width: 50%;
  flex: 0 0 50%;
}

.col-logo {
  max-width: 30%;
  flex: 0 0 30%;
}

.col-bottom-navdar-btn {
  max-width: 15%;
  flex: 0 0 15%;
}

.btn {
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.mob-col-bottom-navdar-btn {
  display: none;
}

.mob-btn {
  display: none;
}

.main-first-page {
  background: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
}

.col-main-content {
  max-width: 38%;
  flex: 0 0 38%;
  margin-top: 130px;
  margin-right: 90px;
}

.col-main-circle-frame-tag {
  max-width: 23%;
  flex: 0 0 23%;
  position: relative;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .col-top-navbar-contact-info {
    max-width: 75%;
    flex: 0 0 75%;
  }
  .col-top-navbar-language {
    max-width: 25%;
    flex: 0 0 5%;
    margin-right: 25px;
  }
  .col-bottom-navdar-menu {
    display: none;
  }
  .col-logo {
    max-width: 60%;
    flex: 0 0 60%;
  }
  .col-bottom-navdar-btn {
    max-width: 26%;
    flex: 0 0 26%;
    display: flex;
    justify-content: flex-end;
  }
  .mob-col-bottom-navdar-btn {
    display: block;
    max-width: 18%;
    flex: 0 0 18%;
  }
  .mob-btn {
    display: block;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .col-main-content {
    max-width: 100%;
    flex: 0 0 100%;
    margin-top: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */